:root {
  --font-normal: 'Roboto', sans-serif;
  --font-highlight: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-monospace: monospace;
  --small: 0.25rem;
  --medium: 0.5rem;
  --large: 1rem;
  --color-primary: #8dee0e;
  --color-red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-normal);
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

main,
.screen-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--large);
  gap: var(--medium);
  max-width: 50rem;
}

header {
  width: 100%;
  font-family: var(--font-highlight);
}

header a, header p {
  font-size: 0.75rem;
  padding: var(--small);
  font-family: var(--font-monospace);
}

input,
label,
textarea,
select,
button {
  display: block;
  font-family: inherit;
  text-align: left;
  width: 100%;
}

input, textarea, select {
  border-radius: var(--small);
  padding: var(--small);
  border: 1px solid black;
}

textarea {
  resize: vertical;
}

button {
  background-color: var(--color-primary);
  padding: var(--small) var(--large);
  border-radius: var(--small);
  text-align: center;
  cursor: pointer;
  display: inline;
  width: fit-content;
}

button.delete {
  background-color: var(--color-red);
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid black;
  padding: 1rem;
  margin: 0.5rem 0;
}

.bar {
  border-top: 1px solid black;
  width: 100%;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
